.swiper-button-next {
  all: unset;
  z-index: 10;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.3) 25%,
    rgba(0, 0, 0, 0) 70%
  );
  height: 100%;
  width: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
  cursor: pointer;
  transform: translateY(-50%);
  display: none;
}

.swiper-button-prev {
  all: unset;
  z-index: 10;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 25%,
    rgba(0, 0, 0, 0) 70%
  );
  height: 100%;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  padding-left: 10px;
  align-items: center;
  cursor: pointer;
  transform: translateY(-50%);
  display: none;
}

.swiper:hover > .swiper-button-next,
.swiper:hover > .swiper-button-prev {
  display: flex;

  @media screen and (max-width: 1050px) {
    display: none;
  }
  @media screen and (max-width: 799px) {
    display: none;
  }
}
